
//Environments
    conda.enabled = true
    conda.autoCreate = true      // Nextflow will create env if missing
    conda.cacheDir   = "$HOME/.conda"  // (optional: isolates pipeline envs)
    
    process.conda = "$baseDir/environment.yml"

 
    apptainer.enabled = true
    apptainer.autoMounts = true
    apptainer.cacheDir = "$HOME/.singularity"
    
    

params{
    help  =  null

  
  // Mandatory CLI options
    set_seqs  =  null  // Fasta file for set species is stores (full path)
    setname   =  "targetset"
    
    list      =  false 

  // Filtering Step
    filtDB  =  "nr_euk"  // database for filtering
  // Mapping Step
    // Download RVDB
    refdb_name    =  "rvdb_nt"   // This will be directory name
    rvdb_link     =  "https://rvdb.dbi.udel.edu/download/"
    db_name       =  "C-RVDBvCurrent.fasta.gz" 
     //refdb_link  =  ${params.rvdb_link}/${params.db_name} 
      // rvdb_link + db_name must be the full download link
    db_update    =  params.db_update?:false
     
    merge_update =  params.merge_update?:false
     
    do_not_merge  =  false
    
    //Download nodes.dmp, names.dmp and merged.dmp files
    
    taxon_link     = "ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz"
    taxon_update   = params.taxon_update?:false
    
    acc2tax_link   = "ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz"
    dbsplit_update = params.dbsplit_update?:false
    
    
    // RVDB for kaiju taxonomy
     customdb        =  false 
     dbtomake        =  ""
     kaiju_db        =  "nr_euk"
     K_nr_euk_link   =  "https://kaiju-idx.s3.eu-central-1.amazonaws.com/2023/kaiju_db_nr_euk_2023-05-10.tgz"
     K_refseq_link   =  "https://kaiju-idx.s3.eu-central-1.amazonaws.com/2024/kaiju_db_refseq_2024-08-14.tgz"
     K_viruses_link  =  "https://kaiju-idx.s3.eu-central-1.amazonaws.com/2024/kaiju_db_viruses_2024-08-15.tgz"
     K_rvdb_link     =  "https://kaiju-idx.s3.eu-central-1.amazonaws.com/2024/kaiju_db_rvdb_2024-12-20.tgz"
    
    // Prepare db for bowtie 
    // Prepare db for Blast
    
    // Prepare db for fcs-gx
     gxdb_update  =  params.gxdb_update?:false
     src_mft = "https://ncbi-fcs-gx.s3.amazonaws.com/gxdb/latest/all.manifest"
     //fcs_image = params.fcs_image?:"fcs-gx.sif"
     fcs_image = "fcs-gx.sif"
     gh_image  = 'oras://ghcr.io/ncbi/fcs-gx:latest'

}

process {
    
    withLabel: 'fcs' {
         // container =  params.fcs_image // "oras://ghcr.io/ncbi/fcs-gx:latest"  //  
         // executor  = 'local'
         // env.PATH = "/usr/bin:${System.env.PATH}"  // Ensure apptainer is visible
         // conda = null
          conda = "$baseDir/environment.yml"
          container =  null

  }
}
//  ? 
                      //  "file://${workflow.projectDir}/${params.fcs_image}" : 
                      //  "docker://ncbi/fcs-gx:latest"

profiles {
  docker {
    docker.enabled = true
  }
}

