env {



    //Fixing issues with python utf8 libraries
    LANG = "en_US.UTF-8"
    LC_CTYPE = "en_US.UTF-8"
    LC_NUMERIC = "en_US.UTF-8"
    LC_TIME = "en_US.UTF-8"
    LC_COLLATE = "en_US.UTF-8"
    LC_MONETARY = "en_US.UTF-8"
    LC_MESSAGES = "en_US.UTF-8"
    LC_ALL = "en_US.UTF-8"
    
    //BLAST output vars
    BLOUTFMT = "6 qseqid qlen sseqid slen qstart qend sstart send length"
    BLOUTFMT = "${BLOUTFMT} score evalue bitscore pident nident mismatch positive"
    BLOUTFMT = "${BLOUTFMT} gapopen gaps ppos qframe sframe qseq sseq"
    
    //Further defs
    BP_LOG = "$BDIR/logs/biopieces"
    BPCOL = 'SEQ_NAME,SEQ_LEN,RES[A],RES[C],RES[G],RES[T],GC%'
    BPCOL = "$BPCOL,SCORES_MIN,SCORES_MAX,SCORES_MEAN,SCORES_MEDIAN"

    TAB = "\t"
    RET = "\n"

}