
params{
    help  =  null
    // Mandatory CLI options
    set_seqs  =  null  // Fasta file for set species is stores (full path)
    setname   =  "targetset"
    
    list      =  false 

  // Filtering Step
    filtDB  =  "nr_euk"  // database for filtering
  // Mapping Step
    // Download RVDB
    refdb_name    =  "rvdb_nt"   // This will be directory name
    rvdb_link     =  "https://rvdb.dbi.udel.edu/download/"
    db_name       =  "C-RVDBvCurrent.fasta.gz" 
     //refdb_link  =  ${params.rvdb_link}/${params.db_name} 
      // rvdb_link + db_name must be the full download link
    db_update    =  params.db_update?:false
     
    merge_update =  params.merge_update?:false
     
    do_not_merge  =  false
    
    //Download nodes.dmp, names.dmp and merged.dmp files
    
    taxon_link     = "ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz"
    taxon_update   = params.taxon_update?:false
    
    acc2tax_link   = "ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz"
    dbsplit_update = params.dbsplit_update?:false
    
    
    // RVDB for kaiju taxonomy
     kaiju_db      =  "nr_euk"
    
    // Prepare db for bowtie 
    // Prepare db for Blast
  
    }

