
params{
    // Mandatory CLI options
    set_seqs  =  null  // Fasta file for set species is stores (full path)
    setname   =  "targetset"
    refseqs   =  null  // refseqs directory
    
    list      =  false 

      // Filtering Step
        filtDB  =  "nr_euk"  // database for filtering
        
      // Mapping Step

        // Download RVDB

         rvdb_dir      =  "db/rvdb_nt"   //refseqs_dir
         rvdb_link     =  "https://rvdb.dbi.udel.edu/download/"
         db_name       =  "C-RVDBvCurrent.fasta.gz"
         rvdb_update   =  params.rvdb_update?:false
         merge_update  =  params.merge_update?:false
         do_not_merge  =  false
        
        //Download nodes.dmp, names.dmp and merged.dmp files
        
        taxon_link     = "ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz"
        taxon_update   = params.taxon_update?:false
        dbsplit_update = params.dbsplit_update?:false
        // RVDB for kaiju taxonomy
         blast_kaiju_db     =  "rvdb"

        // Prepare RVDB for bowtie 

        // Prepare RVDB for Blast

}